<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>Character Stats</title>
</head>
<body>
<p><%= character.name %></p>
<p>gender: <%= character.gender %></p>
<p>born: <%= character.birth_year %></p>
<p>hair: <%= character.hair_color %></p>
<p>height: <%= character.height %></p>
<p>eyes: <%= character.eye_color %></p>
<p>skin: <%= character.skin_color %></p>
<p>mass: <%= character.mass %></p>
<p>hair: <%= character.hair_color %></p>
</body>
</html>